@import url('../styles/style.css');


body {
  background: #fffdf3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Navbar */
.container {
  width: 80%;
  margin: auto;
}
@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}
.navbar {
  height: 74px;
  padding: 16px 0px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  position: sticky;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 144px;
  height: 22px;
}


.dropdown { 
  position: relative;
  display: inline-block;
}

.dropdown img {
  justify-content: center;
  width: 48px;
  height: 48px;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  right: 5px;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.dropdown-content a {
  color: black;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #FFFFFF;
}

.dropdown-content span {
  color: red;
}

@media (min-width: 992px) {
  .navbar {
    height: 80px;
  }
  .logo img {
    width: 193px;
    height: 30px;
  }

  .dropdown img {
    width: 56px;
    height: 56px;
  }
}
/* Navbar */

/* Hero */
.container-hero {
  margin-top: 28px;
  padding: 0px 20px;
}
.hero { 
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background_overlay.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 37px 20px; 
}

.hero h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;
}

.hero p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin-top: 12px;
}

.hero button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #3ECF4C;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.hero button:hover {
  background-color: green;
}

@media (min-width: 432px) {
  .hero button  {
    width: 369px;
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 37px 84px;
  }
  .hero h1 {
    font-size: 32px;
  }
    .hero button {
    width: 369px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .container-hero {
    margin-top: 44px;
    padding: 0px 0px;
  }

}

@media (min-width: 1025px) {
  .container-hero {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }
  .hero {
    width: 1200px;
    padding: 37px 140px;
  }
  .hero h1 {
    font-size: 42px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero br {
    display: none;
  }
}
/* Hero */



/* Course */
.course-container {
  margin-top: 24px;
  padding: 0px 20px;
}

@media (min-width: 992px) {
  .course-container {
    margin-top: 44px;
  }
}

@media (min-width: 1200px) {
  .course-container {
    padding: 64px 0px;
    width: 1200px;
    margin: auto;
  }
}

.course-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.course-title h2 {
  color: #222325;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;
}

.course-title p {
  color: #4A505C;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

@media (min-width: 992px) {
  .course-title h2 {
    font-size: 32px;
  }
  .course-title p {
    font-size: 16px;
  }
}


.course-menu {
  height: 50px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  margin: 24px 0px;
  gap:20px;
  list-style-type: none;
}

.course-menu a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.course-menu a:hover {
  color: #F64920;
}

@media (min-width: 768px) {
  .course-menu {
    overflow: hidden;
    margin: 32px 0px;
    gap: 32px;
  }
  .course-menu a {
    font-size: 16px;
  }
}


.grid {
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.container-grid {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding: 16px;
  gap: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .container-grid {
    padding: 20px;
    gap: 16px;
  }
}

.course-card {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 12px;
  margin-right: auto;
}

@media (min-width: 992px) {
  .course-card {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
}

.course-card img {
  width: 82px;
  height: 82px;
  border-radius: 10px;
}


@media (min-width: 992px) {
  .course-card img {
    width: 100%;  
    height: 193px;
  }
}


.card-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 8px;
}




.card-title h3 {
  color: #222325;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.card-title p {
display: none;
}

@media (min-width: 992px) {
  .card-title p {
    font-size: 16px;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.card-profil {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

@media (min-width: 992px) {
  .card-profil {
    gap: 12px;
  }
}

.card-profil img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .card-profil img {
    width: 40px;
    height: 40px;
  }
}

.card-profil-box {
  display:flex;
  flex-direction: column;
  gap: 4px;
}


@media (min-width: 992px) {
  .card-profil-box {  
    gap: 8px;
  }
}
.card-profil-box h4 {
  color: #222325;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.card-profil-box p {
  display: flex;
  height: 100%;
  color: #4A505C;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

@media (min-width: 992px) {
  .card-profil-box h4 {
    font-size: 16px;
  }
  .card-profil-box p {
    font-size: 14px;
  }
}

.card-rating-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



.card-rating-price span {
  color:orange;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

#rating {
  font-size: 18px;
  color: #4A505C;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
}

#price  {
  color: #3ECF4C;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.2px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .card-rating-price {
    gap: 0px;
  }

  .card-rating-price span {
    font-size: 20px;
  } 
}

@media (min-width: 1200px) {
  #price {
    font-size: 20px;
  
  }
  #rating {
    font-size: 20px;
  }
}
/* Course */


/* Newsletter */
.container-newsletter {
  margin-top: 24px;
  padding: 0px 20px;
}
.newsletter { 
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/background\ newsletter.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; 
  position: relative;
}


.newsletter h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #C1C2C4;
}

.newsletter h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;
  margin-top: 4px;
}

.newsletter p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin-top: 10px;
}


.newsletter input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: none;
  margin-top: 40px;
  padding: 12px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
}

.newsletter button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #FFBD3A;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
}

.newsletter button:hover {
  background-color: #F64920;
}

@media (min-width: 432px) {
  .newsletter input {
    width: 369px;
  }
  .newsletter button  {
    width: 369px;
  }
}

@media (min-width: 768px) {
  .newsletter {
    padding: 37px 84px;
  }
  .newsletter h1 {
    font-size: 32px;
  }

}

@media (min-width: 992px) {
  .container-newsletter {
    margin-top: 44px;
    padding: 0px 0px;
  }

.newsletter {
    width: 100%;
    position: relative;
    padding: 37px 237px;
  }

  .newsletter h1 {
    font-size: 32px;
  }

  .newsletter p {
    height: 58.78px;
  }


  .newsletter input {
    width: 525px;
    height: 56px;
    margin-top: 40px;
    text-align: left;
    padding: 18px 30px;
  }
  .newsletter button {
    width: 132px;
    height: 42px;
    position:absolute;
    margin-top: 170px;
    margin-left: 375px;
    font-size: 16px;
  }

}

@media (min-width: 1200px) {
  .container-newsletter {
    display: flex;
    justify-content: center;
    padding: 0px 25px;
    margin-top: 64px;
  }
  .newsletter {
    width: 1200px;
    padding: 42px 337px;
  }
  .newsletter h1 {
    font-size: 32px;
  }

  .newsletter p {
    font-size: 16px;
  }

  .newsletter input {
    width: 525px;
    height: 56px;
    margin-top: 40px;
  }
  .newsletter button {
    width: 132px;
    height: 42px;
    position:absolute;
    margin-top: 170px;
    margin-left: 375px;
    font-size: 16px;
  }
}
/* Newsletter */



/* Footer */
.footer-container {
  margin-top: 28px;
  padding: 0px 20px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.footer {
  padding: 20px 0px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;

}

.footer-box img {
  width: 161px;
  height: 25px;
  margin-bottom: 16px;
}

.footer-box h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
  margin-bottom: 8px;
}

.footer-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
  margin-bottom: 8px;
}



.item label {
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.item label::after {
  content: "\003E";
  font-weight: bold;
  transition: 0.3s;
}


.item input {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  padding: 0 15px;
  gap: 10px;
}

.item input:checked ~ .content {
  max-height: 100%;
  padding: 10px 15px;
}

.item input:checked + label::after {
  transform: rotate(90deg);
}

.content a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.content a:hover {
  color: #F64920;
}

@media (min-width: 768px) {
.footer-container {
  padding: 0px 24px;
}

.footer {
  padding: 20px 0px;
}


.footer-box img {
  width: 193px;
  height: 30px;
  margin-bottom: 16px;
}

.footer-box h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
  margin-bottom: 12px;
}

.footer-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
  margin-bottom: 8px;
}
.menu {
  width: 692px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item label {
  cursor:auto;
  font-size: 16px;
}

  .item label::after {
    content:unset;
  }

  .content {
    overflow: visible;
    max-height: 100%;
    padding: 10px 0px;
  }

  .content a {
    font-size: 16px;
  }

  .item input:checked ~ .content {
    padding: 10px 0px;
  }

  .item input:checked + label::after {
    transform: unset;
  }
}


@media (min-width: 1200px) {
  .footer-container {
    margin-top: 64px;
    padding: 0px 25px;
  }
  .footer {
    padding: 60px 0px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 263px;
  }
  .menu {
    width: 100%;
  }
}


.line {
  width: 100%;
  padding-top: 16px;
  border-bottom: 1px solid #ccc;
}

@media (min-width: 1200px) {
  .line {
    max-width: 1200px;
    margin: auto;
  }
}

.kontak {
  padding: 16px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.social a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  box-shadow: black 0px 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social a:hover {
  color: #F64920;
}

.kontak p {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

@media (min-width: 992px) {
  .kontak {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .kontak {
    max-width: 1200px;
    margin: auto;
  }
}
/* Footer */
